{% extends 'account/account_base.html' %}

{% load bootstrap4 %}

{% bootstrap_css %}

{% block extra-css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
{% endblock extra-css %}

{% block extra-js %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $(function () {
        const today = new Date();
        const currentYear = today.getFullYear();

        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1700:" + currentYear,
            maxDate: today
        });
    });
</script>
{% endblock extra-js %}

{% block page-content %}

<section id="register-decedent" class="text-white">
    <h1>Enregistrer un défunt.</h1>
    
    <p>Pour pouvoir enregistrer un nouveau défunt, nous avons besoin de quelques informations :</p>
    <form action="{% url 'graveyard:register_decedent' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form decedent_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {% endbuttons %}
    </form>
</section>
{% endblock page-content %}
