{% extends 'account/account_base.html' %}

{% load bootstrap4 %}

{% bootstrap_css %}

{% block page-content %}
<section id="register-decedent" class="text-white">
    <h1>Enregistrer un défunt.</h1>
    
    <p>Pour pouvoir enregistrer un nouveau défunt, nous avons besoin de quelques informations :</p>
    <form action="{% url 'graveyard:register_decedent' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form decedent_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {% endbuttons %}
    </form>
</section>
{% endblock page-content %}
