{% load bootstrap4 static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LegacyBook</title>
    {% block css %}
    <link rel="stylesheet" href="{% static "global/fontawesome-5.5/css/all.min.css" %}" />
    <link rel="stylesheet" href="{% static "global/magnific-popup/magnific-popup.css" %}" />
    <link rel="stylesheet" href="{% static "global/css/tooplate-infinite-loop.css" %}" />
    <link rel="stylesheet" href="{% static "global/css/legacybook.css" %}" />
    {% block extra-css %}
    {% endblock extra-css %}
    {% endblock css %}
<!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

  </head>
  <body>

    {% block navigation %}
    <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
      <div class="container">   
        <div class="tm-next">
            <a href="/" class="navbar-brand">LegacyBook</a>
        </div>             
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {% block navigation-links %}
              {% block navigation-marketing %}
              <li class="nav-item">
                <a class="nav-link tm-nav-link smooth" href="#foresee">Prévoir</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link smooth" href="#erasing">Nettoyer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link smooth" href="#search">Rechercher</a>
              </li>
              {% endblock navigation-marketing %}
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{% url 'account_profile' %}">Mon compte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{% url 'logout_view' %}">Se déconnecter</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link tm-nav-link no-scroll" href="{% url 'register_user' %}">S'enregistrer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tm-nav-link no-scroll" href="{% url 'login_view' %}">Se connecter</a>
                </li>
                {% endif %}
              </li>
            {% endblock navigation-links %}
          </ul>
        </div>        
      </div>
    </nav>
    {% endblock navigation %}

    <section id="main-content">
    {% block main-content %}
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->

      <div class="container">
      {% block above-the-fold-content %}
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
        
            <h2 class="tm-hero-title">LegacyBook</h2>
            <p class="tm-hero-subtitle">
              Se souvenir
              <br>Protéger
            </p>
        </div>
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
          <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
      </div>
      {% endblock above-the-fold-content %}
    </div>
    </section>

    {% block extra-content %}
    <section id="foresee" class="tm-section-pad-top">
      
      <div class="container">
        <div class="row tm-content-box"><!-- first row -->
          <div class="col-lg-12 col-xl-12">
              <div class="tm-intro-text-container">
                  <h2 class="tm-text-primary mb-4 tm-section-title">Prévoir</h2>
                  <p class="mb-4 tm-intro-text">
                    <p>Parce que votre vie numérique a été intense,</p>
                    <p>Parce que vous souhaitez controler ce qui va en rester...</p>
                    <p>Nous proposons differents outils pour gérer votre mort numérique, et ainsi pouvoir continuer à communiquer avec vos proches.</p>
                    </p>
              </div>
          </div>
        </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Laisser une trace</h2>
                        <p class="mb-4 tm-intro-text">
                          <ul>
                          <li>Ecrire un texte qui vous présente</li>
                        <li>Laisser des photos</li>
                        <li>Laisser des mots personalisés pour vos proches. Ils seront envoyés par mail le jour du décès ou à la date souhaitée</li>
                        <li>Laisser des vidéos pour proches</li>
                        <li>Laisser un message pour la cérémonie</li>
                      </ul>
                      <div class="tm-continue">
                        <a href="{% url 'register_user' %}" class="tm-intro-text tm-btn-primary">Laisser une trace</a>
                    </div>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-eye text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Contrôler</h2>
                        <p class="mb-4 tm-intro-text">
                          <ul>
                          <li>Effacer vos comptes des réseaux sociaux</li>
                        <li>Soit en garder une archive envoyée par mail aux proches, soit redéployer en privée pour les proches</li>
                        <li>Choisir qui a accès à la page
                          <ul>
                              <li>Soit proches qui seront prévenus à votre mort</li>
                              <li>Soit tout le monde</li>
                          </ul>
                        </li>
    
                      </ul>

                    </div>
                </div>

            </div><!-- second row -->
            
            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-tasks text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Gérer la cérémonie</h2>
                        <p class="mb-4 tm-intro-text">
                          Prévoir que la cérémonie sera filmé pour les proches qui ne seront pas présents.
                          </p>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-wrench text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Autres services</h2>
                        <p class="mb-4 tm-intro-text">
                        Nous voulons être avec vous pour se préparer du mieux possible. Nous avons de multiples services pour vous simplifier la vie.    
                          <div class="tm-continue">
                            <a href="#no-link-yet" class="tm-intro-text tm-btn-primary">Details</a>
                        </div>
                    </div>
                </div>

            </div><!-- third row -->
        </div>
    </section>

    <section id="erasing" class="tm-section-pad-top tm-parallax-2">      
      <div class="container tm-testimonials-content">
        <div class="row">
          <div class="col-lg-12 tm-content-box">
            <h2 class="text-white text-center mb-4 tm-section-title">Nettoyer</h2>
            <p class="mx-auto tm-section-desc text-center">
              Alors que nous produisons de plus en plus de données dans le cadre de nos vies numériques, se pose désormais la question du devenir de ces données après notre mort.
              Par principe, un profil sur un réseau social ou un compte de messagerie est strictement personnel et soumis au secret des correspondances. A ce titre, le droit d’accès n’est pas transmissible aux héritiers. C’est la raison pour laquelle il n’est pas possible pour la famille d’avoir accès aux données du défunt.
              Nous vous proposons donc de le faire pour vous. Soit en enregistrant vos souhait avant votre mort, soit en se rapprochant de ces réseaux pour faire effacer ces comptes.
              </p>
            <div class="mx-auto tm-gallery-container tm-gallery-container-2">
              <div class="tm-testimonials-carousel">
                <figure class="tm-testimonial-item">
                  <img src="{% static "global/img/facebook-icon.png" %}" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Nous passons le compte Facebook en mode commémoration. Vous avez toujours accès à toutes les données.</blockquote>
                  <figcaption>Effectif en 2 jours.</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-bg-overlay"></div>
    </section>
    
    <section id="search" class="tm-section-pad-top">
      
      <div class="container">
        <div class="row tm-content-box"><!-- first row -->
          <div class="col-lg-12 col-xl-12">
              <div class="tm-intro-text-container">
                  <h2 class="tm-text-primary mb-4 tm-section-title">Rechercher/Créer</h2>
                  <p class="mb-4 tm-intro-text">
                    Blabla d'explication pour expliquer cette section.</p>                    
              </div>
           </div>
        </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                <i class="fas fa-3x fa-search text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Retrouver</h2>
                        <p class="mb-4 tm-intro-text">
                          Blabla d'explication pour dire qu'on peut retrouver dans notre base de données:
                        <ul>
                          <li>Tous les morts depuis 1970</li>
                          <li>Tous les morts pour la France des 2 guerres</li>
                          <li>Plus de 10000 personages historiques et célèbres</li>
                        </ul>
                        </p>

                        <div class="tm-continue">
                          <a href="#no-link-yet" class="tm-intro-text tm-btn-primary">Retrouver un défunt</a>
                        </div>
        
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-plus text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Créer</h2>
                        <p class="mb-4 tm-intro-text">
                          Si le proche ne fait pas partie de la base de donnée (soit mort avant les années 70, soit il y a moins d'un mois), il y a possibilité de l'inscrire
                          </p>
                          <div class="tm-continue">
                            <a href="{% url 'register_user' %}" class="tm-intro-text tm-btn-primary">Pour créer la fiche, enregistrez-vous</a>
                        </div>
                    </div>
                </div>

            </div><!-- second row -->
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
    
      <div class="container tm-container-contact">
        
        <div class="row">
            
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Contact Us</h2>
                <p class="mb-5">
                  Proin enim orci, tincidunt quis suscipit in, placerat nec est. Vestibulum posuere faucibus posuere. Quisque aliquam velit eget leo blandit egestas. Nulla id posuere felis, quis tristique nulla.
                </p><br>
            </div>
            
            <div class="col-sm-12 col-md-6">
              <form action="" method="get">
                <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" required />
                <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input" required />
                <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input" required></textarea>
                <button type="submit" class="btn tm-btn-submit">Submit</button>
              </form>
            </div>
            
            <div class="col-sm-12 col-md-6">

                <div class="contact-item">
                  <a rel="nofollow" href="https://www.tooplate.com/contact" class="item-link">
                      <i class="far fa-2x fa-comment mr-4"></i>
                      <span class="mb-0">Chat Online</span>
                  </a>              
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="mailto:mail@company.com" class="item-link">
                      <i class="far fa-2x fa-envelope mr-4"></i>
                      <span class="mb-0">mail@company.com</span>
                  </a>              
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
                      <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                      <span class="mb-0">Our Location</span>
                  </a>              
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="tel:0100200340" class="item-link">
                      <i class="fas fa-2x fa-phone-square mr-4"></i>
                      <span class="mb-0">255-662-5566</span>
                  </a>              
                </div>
                
                <div class="contact-item">&nbsp;</div>
            
            </div>
            
            
        </div><!-- row ending -->
        
      </div>

      	<footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; 2020 LegacyBook 
          
          . <a rel="nofollow" href="https://www.tooplate.com" title="HTML templates">Designed by TOOPLATE</a></p>
        </footer>

    </section>
    {% endblock extra-content %}

    {% endblock main-content %}
    </section>
    
    {% block js %} 
    <script src="{% static "global/js/jquery-1.9.1.min.js" %}"></script>     
    <script src="{% static "global/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "global/js/easing.min.js" %}"></script>
    {% block extra-js %}
    {% endblock extra-js %} 
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        
        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        background_image_parallax_2($("#erasing"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);
        
        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });

        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        });   
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a.smooth").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 600, 'easeInOutExpo', function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });
      });
    </script>
    {% endblock js %} 
  </body>
</html>