{% extends "marketing/index.html" %}

{% load bootstrap4 %}

{% bootstrap_css %}

{% block extra-content %}
{% endblock extra-content %}

{% block above-the-fold-content %}
<div class="text-center tm-hero-text-container">
  <div class="tm-hero-text-container-inner">
  
    <h2 class="tm-hero-title">S'identifier</h2>
    {% block content %}

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    
    <form method="post" action="{% url 'login_view' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Se connecter</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}">
    </form>
    
    {# Assumes you setup the password_reset view in your URLconf #}
    {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
    
    {% endblock %}
  
  </div>        
</div>

{% endblock above-the-fold-content %}
