{% extends 'account/account_base.html' %}

{% block page-content %}
<section id="general-information" class="text-white">
    <h1>Bienvenue sur votre page abonné</h1>
    <p>En fonction de votre situation, cliquez sur le bon bouton :</p>
    <ul>
      <li><a href="{% url 'graveyard:register_decedent' %}">Créer la fiche d'un défunt</a></li>
      <li><a href="{% url 'graveyard:person_erasing' %}">Nettoyer la vie numérique d'un défunt</a></li>
      <li><a href="">Prévoir votre mort numérique</a></li>
    </ul>
</section>
{% endblock page-content %}
