{% extends 'marketing/index.html' %}

{% load bootstrap4 %}

{% bootstrap_css %}

{% block navigation-marketing %}
{% endblock navigation-marketing %}

{% block extra-content %}
{% endblock extra-content %}

{% block above-the-fold-content %}
<div class="text-center tm-hero-text-container">
  <div class="tm-hero-text-container-inner">
  
    <h2 class="tm-hero-title">S'enregistrer</h2>
    <form action="{% url 'register_user' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form register_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Créer un compte</button>
        {% endbuttons %}
    </form>
  
  </div>        
</div>

{% endblock above-the-fold-content %}
