{% extends 'marketing/index.html' %}

{% block extra-content %}
{% endblock extra-content %}

{% block above-the-fold-content %}
<div class="text-center tm-hero-text-container">
  <div class="tm-hero-text-container-inner">
  
    <h2 class="tm-hero-title">S'inscrire</h2>
    <form action="{% url 'register_user' %}" method="POST">
        {% csrf_token %}
        {{ register_form }}
        <button type="submit">Créer un compte</button>
    </form>
  
  </div>        
</div>

{% endblock above-the-fold-content %}
